Django==4.2.5
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
python-decouple==3.8
django-phonenumber-field==8.0.0
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
africastalking==1.2.8
setuptools==71.0.1
djoser==2.2.3
django-cors-headers==4.4.0
phonenumbers==8.13.46
coverage==7.6.1
whitenoise==6.7.0
jwcrypto==1.5.6
oauthlib==3.2.2
drf-yasg==1.21.7
backports.tarfile==1.2.0
psycopg2-binary==2.9.9